@model KansukWebApp.ViewModels.HomeVM

@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center mt-5">
    <h1 class="display-4">Kansuk'a Hoşgeldiniz</h1>
    <p>Zimmet Belirleme Web Sitesi</p>
</div>

<div class="row justify-content-center mt-5">
    @* Kayıtlı Kullanıcı Sayısı Kartı *@
    <div class="col-md-4 col-sm-6 mb-4">
        <div class="card bg-primary mb-3 text-center shadow-sm">
            <div class="card-header">Kayıtlı Personel Sayısı</div>
            <div class="card-body text-white">
                <h2 class="card-title display-3">@Model.TotalUsers</h2>
                <p class="card-text">Sistemdeki toplam kayıtlı aktif ve pasif personel.</p>
            </div>
        </div>
    </div>

    @* Zimmetlenme Sayısı Kartı *@
    <div class="col-md-4 col-sm-6 mb-4">
        <div class="card bg-success mb-3 text-center shadow-sm">
            <div class="card-header">Toplam Zimmet Kaydı</div>
            <div class="card-body text-white">
                <h2 class="card-title display-3">@Model.TotalAssignments</h2>
                <p class="card-text">Sistemdeki tüm zimmet kayıtlarının toplam sayısı.</p>
            </div>
        </div>
    </div>
</div>