@model KansukWebApp.Models.User

@{
    ViewData["Title"] = Model.Id == 0 ? "Yeni Personel Kaydı" : "Personel Güncelleme";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Ad-Soyad</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> Durum
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}